html,
body {
  width: 100%;
  height: 100%;
  color: aliceblue;
  position: absolute;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 170px;
  top: 100px;
}
input {
  box-sizing: border-box;
  font-size: 40px;
  outline: none;
}
input.underline {
  border-style: none;
  border-bottom: 2px solid aliceblue;
  border-collapse: collapse;
  color: aliceblue;
}

input::-webkit-input-placeholder {
  color: aliceblue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 70px;
  top: -50px;
}
#greeting {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin-top: -50px;
}
#todo-form {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
#todo-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#todo-list li button {
  font-size: 40px;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  color: #ffffff;
}
#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  flex-direction: column;
  bottom: 10px;
  font-size: 30px;
  box-sizing: border-box;
}
#weather {
  display: flex;
  align-items: center;
  left: 30px;
  bottom: 120px;
  position: absolute;
  flex-direction: column;
  font-size: 30px;
}
.hidden {
  display: none;
}
