html,
body {
  width: 100%;
  height: 100%;
  color: aliceblue;
  position: absolute;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 170px;
  top: 100px;
}
input {
  box-sizing: border-box;
  font-size: 40px;
  outline: none;
}
input.underline {
  border-style: none;
  border-bottom: 2px solid aliceblue;
  border-collapse: collapse;
  color: aliceblue;
}

input::-webkit-input-placeholder {
  color: aliceblue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 70px;
  top: -70px;
}
#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 70px;
  top: -80px;
}
#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -120px;
}
#todo-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  font-size: 50px;
}
.hidden {
  display: none;
}
